<div class="row">
  <div class="col-lg-6">
    <h4>Uploads</h4>
    <p><%= link "Uploads", to: upload_path(@conn, :index) %></p>
  </div>

  <div class="col-lg-6">
    <h4>Grading Jobs</h4>
    <p><%= link "Grading Jobs", to: job_path(@conn, :index) %></p>
  </div>
</div>
