<h2>Show Job</h2>

<ul>

  <li>
    <strong>Sandbox:</strong>
    <%= @job.sandbox_id %>
  </li>

  <li>
    <strong>Output:</strong>
    <pre>
      <%= @job.output %>
    </pre>
  </li>

</ul>

<%= form_tag job_path(@conn, :run, @job) do %>
  <%= submit "Run", class: "btn btn-primary" %>
<% end %>


<span><%= link "Edit", to: job_path(@conn, :edit, @job) %></span>
<span><%= link "Back", to: job_path(@conn, :index) %></span>
