<h2>Edit Upload</h2>

<%= render "form.html", changeset: @changeset,
                        action: upload_path(@conn, :update, @upload) %>

<span><%= link "Back", to: upload_path(@conn, :index) %></span>
